{
    "webapp": {
      "host": "0.0.0.0",
      "port": 8081,
      "password": "admin",
      "verbose": 1
    },
    "serial": {
      "port": 2000,
      "host": "localhost"
    },
    "redis": {
      "host": "localhost"
    },
    "lmdb": {
      "enable": 0,
      "dbname": "_db",
      "path": ".",
      "forgot": "some_node"
    },
    "mqtt": {
      "enable": 0,
      "broker": "localhost",
      "port": 1883
    },
    "mail": {
      "smtp" : "smtp.mail.com",
      "port": 587,
      "username": "user@mail.com",
      "password": "pass",
      "from": "sensmon",
      "tls": true
    },
    "weather": {
      "city": "london",
      "appid": "your_openweathermap_appid"
    }
}
