table td:first-child {
  width:20%;
}

table td h4 {
	font-weight: bold;
	color: navy;
  font-size: 1.5em
}

table td h5 {
	color: grey;
}

[animate-on-change] {
  transition: all 1s;
  -webkit-transition: all 1s;
}

[animate-on-change].changed {
    color: #FFEF00;
    transition: none;
    -webkit-transition: none;
}

.name-node {
  background: rgb(51, 51, 51);
}
.name-node h4, .name-node h5 {
  color: white;
}

.animate-show {
    -webkit-transition: all linear 0.5s;
    transition: all linear 0.5s;
}

.animate-show.ng-hide-add,
.animate-show.ng-hide-remove {
    display: inline-block !important;

}
.animate-show.ng-hide {
    opacity: 0;
}

.info {
  float:left;
}

.menu {
  display: block;
    float: right;
    margin-top: 5px;
    width: 18px;
}