table td:first-child {
  width:20%;
}

table td h4 {
	font-weight: bold;
	color: navy;
  font-size: 1.5em
}

table td h5 {
	color: grey;
}

[animate-on-change] {
  transition: all 1s;
  -webkit-transition: all 1s;
}

[animate-on-change].changed {
    color: #FFEF00;
    transition: none;
    -webkit-transition: none;
}

.name-node {
  background: rgb(51, 51, 51);
}
.name-node h4, h5 {
  color: white;
}